# CTGAN 속도 비교

## 데이터 불러오기

### 가구주 경상소득 데이터

#### 필요 패키지 불러오기

In [1]:
import sys
sys.path

['C:\\Users\\2jjsj',
 'C:\\Users\\2jjsj\\anaconda3\\envs\\testctgan\\python38.zip',
 'C:\\Users\\2jjsj\\anaconda3\\envs\\testctgan\\DLLs',
 'C:\\Users\\2jjsj\\anaconda3\\envs\\testctgan\\lib',
 'C:\\Users\\2jjsj\\anaconda3\\envs\\testctgan',
 '',
 'C:\\Users\\2jjsj\\anaconda3\\envs\\testctgan\\lib\\site-packages',
 'C:\\Users\\2jjsj\\anaconda3\\envs\\testctgan\\lib\\site-packages\\win32',
 'C:\\Users\\2jjsj\\anaconda3\\envs\\testctgan\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\2jjsj\\anaconda3\\envs\\testctgan\\lib\\site-packages\\Pythonwin']

In [2]:
import pandas as pd 
import numpy as np 
import sdv
from sdv.tabular import CTGAN

#### 데이터 불러오고 필요 변수만 추출

In [3]:
rawdata = pd.read_csv(('C:/Users/2jjsj/2016_housemasterdata.csv'), encoding='cp949')

In [4]:
rawdata.head()

,조사연도,MD제공용_가구고유번호,조사부문코드,가중값,가중값(금융부문),가중값(복지부문),수도권여부,가구주_성별코드,가구원수,노인가구코드,...,가구주_은퇴여부,가구주_미은퇴_은퇴연령,가구주_미은퇴_최소생활비,가구주_미은퇴_적정생활비,가구주_미은퇴_노후준비상황코드,가구주_은퇴실제연령,가구주_은퇴시_적정생활비충당여부,가구주은퇴_생활비재원마련코드(2014년~),1년후소득변화코드(2011~2016년),1년후지출변화코드(2012~2016년)
0,2016,10200111,F,1617.978816,3233.552036,NaN,G1,1,4,G2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,10200121,F,1909.519990,3816.200922,NaN,G1,1,4,G2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,10200151,P,1866.504932,NaN,3735.789099,G1,2,3,G2,...,1.0,60.0,300.0,300.0,3.0,NaN,NaN,NaN,3.0,2.0
3,2016,10200161,P,1355.027490,NaN,2736.042354,G1,1,5,G2,...,1.0,70.0,250.0,300.0,4.0,NaN,NaN,NaN,3.0,3.0
4,2016,10200171,P,1740.443092,NaN,3483.477712,G1,1,2,G2,...,1.0,60.0,200.0,300.0,5.0,NaN,NaN,NaN,3.0,3.0

In [7]:
variable = ['MD제공용_가구고유번호','수도권여부','가구주_성별코드','가구주_교육정도_학력코드','가구주_연령10세단위코드','경상소득_근로소득(조사)','경상소득_사업소득(조사)','경상소득_재산소득(조사)','경상소득_공적이전소득(조사)','경상소득_사적이전소득(조사)[가구간이전소득+비영리단체이전소득]']
data = rawdata[variable]

In [8]:
oridata = rawdata[variable]
oridata.rename(columns = {'경상소득_사적이전소득(조사)[가구간이전소득+비영리단체이전소득]' : "경상소득_사적이전소득(조사)"},inplace=True)

C:\Users\2jjsj\AppData\Local\Temp\ipykernel_19016\3471399685.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oridata.rename(columns = {'경상소득_사적이전소득(조사)[가구간이전소득+비영리단체이전소득]' : "경상소득_사적이전소득(조사)"},inplace=True)

In [9]:
oridata.head()

,MD제공용_가구고유번호,수도권여부,가구주_성별코드,가구주_교육정도_학력코드,가구주_연령10세단위코드,경상소득_근로소득(조사),경상소득_사업소득(조사),경상소득_재산소득(조사),경상소득_공적이전소득(조사),경상소득_사적이전소득(조사)
0,10200111,G1,1,4,G3,4000,5000,0,0,0
1,10200121,G1,1,6,G3,3000,0,0,216,0
2,10200151,G1,2,6,G4,12600,0,0,0,0
3,10200161,G1,1,5,G3,0,4200,0,360,0
4,10200171,G1,1,6,G2,12420,0,0,0,0

#### CTGAN 적합

In [10]:
import time

In [11]:
start = time.time()
model = CTGAN(primary_key='MD제공용_가구고유번호' , epochs = 30 , batch_size = 400 , verbose = True)
model.fit(oridata)
model.save('C:/Users/2jjsj/no_all_model_fill_outlier_fin.pkl')

end = time.time()
print(f"{end - start:.5f} sec")

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 1, Loss G: -0.2496,Loss D:  0.2983
Epoch 2, Loss G: -0.0517,Loss D:  0.0620
Epoch 3, Loss G: -0.1791,Loss D:  0.0194
Epoch 4, Loss G: -1.1673,Loss D:  0.1247
Epoch 5, Loss G: -1.1459,Loss D:  0.1608
Epoch 6, Loss G: -1.1376,Loss D:  0.0068
Epoch 7, Loss G: -1.3920,Loss D:  0.0873
Epoch 8, Loss G: -1.6284,Loss D:  0.1166
Epoch 9, Loss G: -1.3393,Loss D: -0.0593
Epoch 10, Loss G: -1.2545,Loss D: -0.0099
Epoch 11, Loss G: -1.4595,Loss D: -0.0804
Epoch 12, Loss G: -1.5399,Loss D:  0.0471
Epoch 13, Loss G: -1.4767,Loss D:  0.1259
Epoch 14, Loss G: -1.5581,Loss D: -0.1486
Epoch 15, Loss G: -1.7731,Loss D:  0.0851
Epoch 16, Loss G: -1.7377,Loss D:  0.0490
Epoch 17, Loss G: -1.9054,Loss D: -0.0016
Epoch 18, Loss G: -1.7868,Loss D: -0.0155
Epoch 19, Loss G: -1.7564,Loss D:  0.0675
Epoch 20, Loss G: -1.8221,Loss D: -0.0256
Epoch 21, Loss G: -1.7202,Loss D:  0.0968
Epoch 22, Loss G: -1.8894,Loss D: -0.0161
Epoch 23, Loss G: -1.6019,Loss D: -0.0737
Epoch 24, Loss G: -1.6956,Loss D:  0.0774
Epoch 25, Loss G: -1.7432,Loss D: -0.0233
Epoch 26, Loss G: -1.8110,Loss D:  0.0623
Epoch 27, Loss G: -1.7739,Loss D: -0.0494
Epoch 28, Loss G: -1.8560,Loss D: -0.0683
Epoch 29, Loss G: -1.7195,Loss D:  0.0256
Epoch 30, Loss G: -1.7762,Loss D: -0.1639
57.82243 sec

In [12]:
loaded = CTGAN.load('C:/Users/2jjsj/no_all_model_fill_outlier_fin.pkl')

In [13]:
loaded

In [15]:
no_all_df = model.sample(len(oridata))

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)

In [16]:
no_all_df

,MD제공용_가구고유번호,수도권여부,가구주_성별코드,가구주_교육정도_학력코드,가구주_연령10세단위코드,경상소득_근로소득(조사),경상소득_사업소득(조사),경상소득_재산소득(조사),경상소득_공적이전소득(조사),경상소득_사적이전소득(조사)
0,0,G2,2,6,G5,0,15,14,582,0
1,1,G1,1,6,G2,7895,10,3,4,3
2,2,G1,1,6,G2,897,0,0,0,2
3,3,G2,1,6,G1,0,4135,10566,10,101
4,4,G2,1,5,G5,0,2,0,1148,287
...,...,...,...,...,...,...,...,...,...,...
18268,18268,G1,1,4,G3,7545,1,4,8,1
18269,18269,G2,1,6,G3,2277,0,6,0,1
18270,18270,G1,1,6,G2,3618,0,0,249,0
18271,18271,G2,1,5,G4,3518,47,0,6,1
18272,18272,G1,1,6,G3,949,0,22,6,0

In [17]:
no_all_df.to_csv("C:/Users/2jjsj/income.csv")

원래는 경상소득(조사) 가 경상소득을 모두 합친거이기 때문에 다른 경상소득을 이루는 하위소득들보다 작으면 안된다.

In [10]:
new_df.loc[new_df['경상소득(조사)'] < new_df['경상소득_근로소득(조사)']]

,MD제공용_가구고유번호,수도권여부,가구주_성별코드,가구주_교육정도_학력코드,가구주_연령10세단위코드,경상소득(조사),경상소득_근로소득(조사),경상소득_사업소득(조사),경상소득_재산소득(조사),경상소득_공적이전소득(조사),경상소득_사적이전소득(조사)
0,0,G2,1,5,G5,187,2541,0,83,340,1
5,5,G2,1,5,G3,3045,14205,0,16,900,5
9,9,G1,1,4,G4,3648,4094,5,0,498,2
10,10,G2,2,2,G4,2255,9623,2665,0,0,5
13,13,G2,1,6,G5,2234,12054,2585,0,5,258
...,...,...,...,...,...,...,...,...,...,...,...
18259,18259,G1,1,6,G3,3254,3936,2456,0,323,5
18261,18261,G1,2,4,G4,1249,15720,0,17,0,0
18263,18263,G2,1,4,G5,801,1286,2678,379,332,1
18267,18267,G2,1,5,G2,1097,9790,1727,0,0,5
18270,18270,G1,1,5,G4,351,1126,0,354,0,2

여기서 CTGAN의 Constraint 조건이 들어간다.

In [11]:
from sdv.constraints import Inequality

In [12]:
inc_constraint = Inequality(
    low_column_name='경상소득_근로소득(조사)',
    high_column_name='경상소득(조사)'
)

In [13]:
constraints = [inc_constraint]

In [14]:
start = time.time()
model = CTGAN(primary_key='MD제공용_가구고유번호' , epochs = 30 , batch_size = 400 , verbose = True ,constraints = constraints)
model.fit(oridata)
model.save('C:/Users/2jjsj/test_model_fill_outlier_fin.pkl')

end = time.time()
print(f"{end - start:.5f} sec")

C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\sdv0.18\lib\site-packages\rdt\transformers\base.py:132: FutureWarning: Future versions of RDT will not support the 'model_missing_values' parameter. Please switch to using the 'missing_value_generation' parameter to select your strategy.
  warnings.warn(

Epoch 1, Loss G: -0.3635,Loss D:  0.0556
Epoch 2, Loss G: -0.1542,Loss D:  0.0503
Epoch 3, Loss G: -0.1975,Loss D:  0.1805
Epoch 4, Loss G: -0.6199,Loss D:  0.0368
Epoch 5, Loss G: -1.1454,Loss D: -0.0042
Epoch 6, Loss G: -1.4072,Loss D: -0.0753
Epoch 7, Loss G: -1.1766,Loss D:  0.0603
Epoch 8, Loss G: -1.6255,Loss D: -0.0462
Epoch 9, Loss G: -1.2747,Loss D:  0.0033
Epoch 10, Loss G: -1.8480,Loss D: -0.0532
Epoch 11, Loss G: -1.6402,Loss D:  0.1231
Epoch 12, Loss G: -1.5384,Loss D:  0.1518
Epoch 13, Loss G: -1.6172,Loss D:  0.1577
Epoch 14, Loss G: -1.4369,Loss D: -0.0821
Epoch 15, Loss G: -1.1790,Loss D: -0.0729
Epoch 16, Loss G: -1.5280,Loss D:  0.0548
Epoch 17, Loss G: -1.3099,Loss D: -0.0343
Epoch 18, Loss G: -1.5255,Loss D:  0.1271
Epoch 19, Loss G: -1.2312,Loss D: -0.0842
Epoch 20, Loss G: -1.6891,Loss D: -0.1710
Epoch 21, Loss G: -1.1504,Loss D: -0.0619
Epoch 22, Loss G: -1.6955,Loss D:  0.0594
Epoch 23, Loss G: -1.2764,Loss D:  0.0026
Epoch 24, Loss G: -1.6387,Loss D: -0.0302
Epoch 25, Loss G: -1.3774,Loss D: -0.0557
Epoch 26, Loss G: -1.3532,Loss D:  0.0327
Epoch 27, Loss G: -1.3840,Loss D: -0.1357
Epoch 28, Loss G: -1.3889,Loss D:  0.0377
Epoch 29, Loss G: -1.5437,Loss D: -0.0908
Epoch 30, Loss G: -1.1309,Loss D: -0.0671
61.90547 sec

In [15]:
new_df = model.sample(len(oridata))

Sampling rows: 100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 18273/18273 [00:00<00:00, 33993.15it/s]

In [16]:
new_df

,MD제공용_가구고유번호,수도권여부,가구주_성별코드,가구주_교육정도_학력코드,가구주_연령10세단위코드,경상소득(조사),경상소득_근로소득(조사),경상소득_사업소득(조사),경상소득_재산소득(조사),경상소득_공적이전소득(조사),경상소득_사적이전소득(조사)
0,0,G1,1,6,G4,6996,5510,48,1,5,0
1,1,G1,1,5,G4,3491,3491,7,251,0,1
2,2,G1,2,5,G3,5970,5970,24,335,0,0
3,3,G1,1,6,G2,0,0,0,2,1,2
4,4,G1,1,6,G4,1972,1710,34,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
18268,18268,G1,2,6,G4,6050,5908,14,9,6,2
18269,18269,G2,2,2,G4,3870,2012,0,184,1297,1
18270,18270,G1,1,7,G4,6487,6487,16,0,5,4
18271,18271,G1,1,6,G2,2891,2891,39,4,9,3
18272,18272,G2,1,1,G5,199,48,30,0,325,1

#### 층별로 ctgan 구현하기

In [15]:
sex = [oridata['가구주_성별코드'] == 1 , oridata['가구주_성별코드'] == 2]
condition = [oridata['경상소득(조사)'] < 1800 , 1800 < = oridata['경상소득(조사)'] < 3704]

SyntaxError: invalid syntax (4064599507.py, line 2)

In [16]:
, 1800 < = oridata['경상소득(조사)'] < 3704 , 3704 < = oridata['경상소득(조사)'] < 6300 , 6300 < = oridata['경상소득(조사)']

('1800',
 '<',
 '=',
 "oridata['경상소득(조사)']",
 '<',
 '3704',
 ',',
 '3704',
 '<',
 '=',
 "oridata['경상소득(조사)']",
 '<',
 '6300',
 ',',
 '6300',
 '<',
 '=',
 "oridata['경상소득(조사)']")

In [9]:
sex

[0         True
 1         True
 2        False
 3         True
 4         True
          ...
 18268    False
 18269    False
 18270     True
 18271     True
 18272     True
 Name: 가구주_성별코드, Length: 18273, dtype: bool,
 0        False
 1        False
 2         True
 3        False
 4        False
          ...
 18268     True
 18269     True
 18270    False
 18271    False
 18272    False
 Name: 가구주_성별코드, Length: 18273, dtype: bool]

In [17]:
import numpy as np

oridata['ind_c'] = np.where(oridata["경상소득(조사)"] < 1800, 1,
                            np.where(oridata["경상소득(조사)"] < 3704, 2,
                                     np.where(oridata["경상소득(조사)"] < 6300, 3,
                                              np.where(oridata["경상소득(조사)"] >= 6300, 4, None))))

C:\Users\2jjsj\AppData\Local\Temp\ipykernel_12424\312715132.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oridata['ind_c'] = np.where(oridata["경상소득(조사)"] < 1800, 1,

In [18]:
index = np.array([(x, y) for x in range(1,3) for y in range(1,5)])
index1 = pd.DataFrame(index)
index1

   0  1
0  1  1
1  1  2
2  1  3
3  1  4
4  2  1
5  2  2
6  2  3
7  2  4

In [19]:
data_list = [] # 빈 리스트 생성
 
for i in range(0,8):
    line = []             # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(0,8):
        line.append(oridata.loc[(oridata['가구주_성별코드'] == index1.iloc[j,0]) & (oridata['ind_c'] == index1.iloc[j,1]),]) 
    data_list.extend(line)         # 전체 리스트에 안쪽 리스트를 추가
 
data_list

[       MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 10         10200261    G2         1              4            G5       856
 40         10203391    G1         1              6            G2      1240
 55         10500161    G1         1              6            G5       388
 82         10600171    G1         1              6            G1       400
 93         10600351    G1         1              4            G5      1108
 ...             ...   ...       ...            ...           ...       ...
 18236     990505391    G2         1              4            G5       710
 18249     991600301    G2         1              1            G5       240
 18250     991600341    G2         1              2            G5       636
 18264     993505311    G2         1              4            G3      1560
 18272     995200351    G2         1              3            G5      1530

        경상소득_근로소득(조사)  경상소득_사업소득(조사)  경상소득_재산소득(조사)  경상소득_공적이전소득(조사)  \
 10               120              0              0              436
 40                 0           1000              0              240
 55                 0              0              0              388
 82               400              0              0                0
 93                 0              0              0              988
 ...              ...            ...            ...              ...
 18236              0              0              0              710
 18249              0              0              0              240
 18250              0              0              0              636
 18264           1560              0              0                0
 18272           1200              0              0              330

        경상소득_사적이전소득(조사) ind_c
 10                 300     1
 40                   0     1
 55                   0     1
 82                   0     1
 93                 120     1
 ...                ...   ...
 18236                0     1
 18249                0     1
 18250                0     1
 18264                0     1
 18272                0     1

 [2138 rows x 12 columns],
        MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 1          10200121    G1         1              6            G3      3216
 11         10200281    G2         1              4            G5      3492
 23         10201381    G1         1              6            G2      2680
 24         10202121    G1         1              6            G3      3216
 32         10202321    G1         1              4            G4      3253
 ...             ...   ...       ...            ...           ...       ...
 18242     990600371    G2         1              5            G2      3005
 18259     993200331    G2         1              4            G2      3140
 18260     993200341    G2         1              6            G3      2600
 18263     993200381    G2         1              2            G4      1800
 18271     994505321    G2         1              2            G4      2160

        경상소득_근로소득(조사)  경상소득_사업소득(조사)  경상소득_재산소득(조사)  경상소득_공적이전소득(조사)  \
 1               3000              0              0              216
 11                 0           3000              0              492
 23                 0           2500              0              180
 24              3042              0              0              174
 32              2640            600              0               13
 ...              ...            ...            ...              ...
 18242           3000              0              5                0
 18259           2800              0            140              200
 18260            600           2000              0                0
 18263              0           1800              0                0
 18271           2160              0              0                0

        경상소득_사적이전소득(조사) ind_c
 1                    0     2
 11                   0     2
 23                   0     2
 24                   0     2
 32                   0     2
 ...                ...   ...
 18242                0     2
 18259                0     2
 18260                0     2
 18263                0     2
 18271                0     2

 [3444 rows x 12 columns],
        MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 3          10200161    G1         1              5            G3      4560
 17         10201241    G2         1              6            G2      5240
 28         10202171    G1         1              4            G4      4788
 29         10202191    G1         1              4            G4      4100
 33         10202351    G1         1              4            G4      4660
 ...             ...   ...       ...            ...           ...       ...
 18244     991200341    G2         1              6            G3      4592
 18253     992200371    G2         1              5            G4      4160
 18265     993505321    G2         1              4            G5      6188
 18266     993505331    G2         1              4            G3      4040
 18270     994505311    G2         1              5            G3      4540

        경상소득_근로소득(조사)  경상소득_사업소득(조사)  경상소득_재산소득(조사)  경상소득_공적이전소득(조사)  \
 3                  0           4200              0              360
 17              5000              0            240                0
 28              3936              0              0              852
 29              3500              0            600                0
 33               460           4200              0                0
 ...              ...            ...            ...              ...
 18244           3850            500              0              242
 18253           3160           1000              0                0
 18265           3000           2800              0              388
 18266           1040           3000              0                0
 18270           4500              0             40                0

        경상소득_사적이전소득(조사) ind_c
 3                    0     3
 17                   0     3
 28                   0     3
 29                   0     3
 33                   0     3
 ...                ...   ...
 18244                0     3
 18253                0     3
 18265                0     3
 18266                0     3
 18270                0     3

 [4029 rows x 12 columns],
        MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 0          10200111    G1         1              4            G3      9000
 4          10200171    G1         1              6            G2     12420
 6          10200211    G2         1              5            G4     10800
 8          10200241    G2         1              4            G4      7880
 9          10200251    G2         1              3            G5      7550
 ...             ...   ...       ...            ...           ...       ...
 18254     992200381    G2         1              4            G4      6520
 18255     992505301    G2         1              4            G3      6305
 18256     992505311    G2         1              4            G5      7200
 18258     993200311    G2         1              5            G3      8500
 18267     994200331    G2         1              6            G4      8000

        경상소득_근로소득(조사)  경상소득_사업소득(조사)  경상소득_재산소득(조사)  경상소득_공적이전소득(조사)  \
 0               4000           5000              0                0
 4              12420              0              0                0
 6                  0           7200           3600                0
 8               2880           5000              0                0
 9                  0           7000              0              550
 ...              ...            ...            ...              ...
 18254           4360           2160              0                0
 18255              0           5000           1305                0
 18256              0              0           4800             2400
 18258           8500              0              0                0
 18267           8000              0              0                0

        경상소득_사적이전소득(조사) ind_c
 0                    0     4
 4                    0     4
 6                    0     4
 8                    0     4
 9                    0     4
 ...                ...   ...
 18254                0     4
 18255                0     4
 18256                0     4
 18258                0     4
 18267                0     4

 [4276 rows x 12 columns],
        MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 5          10200191    G1         2              1            G5       612
 12         10200311    G1         2              1            G5      1104
 14         10201181    G1         2              3            G5       962
 16         10201211    G2         2              1            G5       602
 18         10201291    G2         2              1            G5       842
 ...             ...   ...       ...            ...           ...       ...
 18239     990600301    G2         2              4            G5      1400
 18252     992200341    G2         2              1            G5      1440
 18257     992505321    G2         2              2            G5      1082
 18268     994200361    G2         2              2            G5      1062
 18269     994200381    G2         2              1            G5       288

        경상소득_근로소득(조사)  경상소득_사업소득(조사)  경상소득_재산소득(조사)  경상소득_공적이전소득(조사)  \
 5                160              0              0              252
 12               600              0              0              504
 14                 0              0             60              542
 16                 0              0              0              242
 18                 0              0              0              842
 ...              ...            ...            ...              ...
 18239           1400              0              0                0
 18252              0              0              0             1440
 18257            240              0              0              482
 18268            888            100              0               74
 18269              0              0             40              248

        경상소득_사적이전소득(조사) ind_c
 5                  200     1
 12                   0     1
 14                 360     1
 16                 360     1
 18                   0     1
 ...                ...   ...
 18239                0     1
 18252                0     1
 18257              360     1
 18268                0     1
 18269                0     1

 [2410 rows x 12 columns],
        MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 7          10200231    G2         2              3            G5      2966
 22         10201361    G1         2              5            G5      2440
 25         10202131    G1         2              4            G3      2700
 26         10202141    G1         2              5            G1      3000
 30         10202301    G1         2              4            G2      3000
 ...             ...   ...       ...            ...           ...       ...
 18179     982600361    G2         2              4            G4      2042
 18217     987200361    G2         2              4            G3      2040
 18241     990600341    G2         2              2            G5      2066
 18246     991505301    G2         2              3            G5      3000
 18247     991505311    G2         2              3            G4      3300

        경상소득_근로소득(조사)  경상소득_사업소득(조사)  경상소득_재산소득(조사)  경상소득_공적이전소득(조사)  \
 7               2160              0              0              566
 22               400           1800              0              240
 25              2700              0              0                0
 26                 0           3000              0                0
 30              3000              0              0                0
 ...              ...            ...            ...              ...
 18179              0              0              0              242
 18217           1800              0              0              240
 18241           1200              0            300              566
 18246           3000              0              0                0
 18247           3000              0              0                0

        경상소득_사적이전소득(조사) ind_c
 7                  240     2
 22                   0     2
 25                   0     2
 26                   0     2
 30                   0     2
 ...                ...   ...
 18179             1800     2
 18217                0     2
 18241                0     2
 18246                0     2
 18247              300     2

 [1143 rows x 12 columns],
        MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 21         10201351    G1         2              6            G3      5500
 36         10203171    G1         2              3            G5      4716
 38         10203351    G1         2              2            G4      3740
 52         10500131    G1         2              6            G2      4600
 118        11200391    G1         2              4            G4      4500
 ...             ...   ...       ...            ...           ...       ...
 17998     966200281    G2         2              4            G4      4200
 18022     968504371    G2         2              4            G4      6000
 18122     978200391    G2         2              3            G4      4780
 18170     982201381    G2         2              1            G5      5058
 18262     993200361    G2         2              4            G5      5000

        경상소득_근로소득(조사)  경상소득_사업소득(조사)  경상소득_재산소득(조사)  경상소득_공적이전소득(조사)  \
 21              5500              0              0                0
 36                 0           3000           1440              276
 38              3740              0              0                0
 52              3400              0              0                0
 118             4500              0              0                0
 ...              ...            ...            ...              ...
 17998           4200              0              0                0
 18022           3600           2400              0                0
 18122           4780              0              0                0
 18170           3350           1000             14              694
 18262           2000           3000              0                0

        경상소득_사적이전소득(조사) ind_c
 21                   0     3
 36                   0     3
 38                   0     3
 52                1200     3
 118                  0     3
 ...                ...   ...
 17998                0     3
 18022                0     3
 18122                0     3
 18170                0     3
 18262                0     3

 [526 rows x 12 columns],
        MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 2          10200151    G1         2              6            G4     12600
 42         10300121    G1         2              7            G1      7790
 95         10600371    G1         2              3            G4      7186
 96         10600381    G1         2              3            G4     11500
 123        11201181    G1         2              4            G5     12385
 ...             ...   ...       ...            ...           ...       ...
 18106     975200371    G2         2              3            G4      7450
 18112     976200331    G2         2              4            G4      8300
 18115     976200361    G2         2              2            G5      6510
 18166     982200331    G2         2              4            G5      8004
 18261     993200351    G2         2              4            G5      8280

        경상소득_근로소득(조사)  경상소득_사업소득(조사)  경상소득_재산소득(조사)  경상소득_공적이전소득(조사)  \
 2              12600              0              0                0
 42              7790              0              0                0
 95              3000              0           3904              242
 96             11500              0              0                0
 123             7200           4800            360               25
 ...              ...            ...            ...              ...
 18106           7400              0             50                0
 18112           8300              0              0                0
 18115              0           6000            150              360
 18166           4200           3300            120              384
 18261           3240           1800           3240                0

        경상소득_사적이전소득(조사) ind_c
 2                    0     4
 42                   0     4
 95                  40     4
 96                   0     4
 123                  0     4
 ...                ...   ...
 18106                0     4
 18112                0     4
 18115                0     4
 18166                0     4
 18261                0     4

 [307 rows x 12 columns],
        MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 10         10200261    G2         1              4            G5       856
 40         10203391    G1         1              6            G2      1240
 55         10500161    G1         1              6            G5       388
 82         10600171    G1         1              6            G1       400
 93         10600351    G1         1              4            G5      1108
 ...             ...   ...       ...            ...           ...       ...
 18236     990505391    G2         1              4            G5       710
 18249     991600301    G2         1              1            G5       240
 18250     991600341    G2         1              2            G5       636
 18264     993505311    G2         1              4            G3      1560
 18272     995200351    G2         1              3            G5      1530

        경상소득_근로소득(조사)  경상소득_사업소득(조사)  경상소득_재산소득(조사)  경상소득_공적이전소득(조사)  \
 10               120              0              0              436
 40                 0           1000              0              240
 55                 0              0              0              388
 82               400              0              0                0
 93                 0              0              0              988
 ...              ...            ...            ...              ...
 18236              0              0              0              710
 18249              0              0              0              240
 18250              0              0              0              636
 18264           1560              0              0                0
 18272           1200              0              0              330

        경상소득_사적이전소득(조사) ind_c
 10                 300     1
 40                   0     1
 55                   0     1
 82                   0     1
 93                 120     1
 ...                ...   ...
 18236                0     1
 18249                0     1
 18250                0     1
 18264                0     1
 18272                0     1

 [2138 rows x 12 columns],
        MD제공용_가구고유번호 수도권여부  가구주_성별코드  가구주_교육정도_학력코드 가구주_연령10세단위코드  경상소득(조사)  \
 1          10200121    G1         1              6            G3      3216
 11         10200281    G2         1              4            G5      3492
 23         10201381    G1         1              6            G2      2680
 24         10202121    G1         1              6            G3      3216
 32         10202321    G1         1              4            G4      3253
 ...             ...   ...       ...            ...           ...       ...
 18242     990600371    G2         1              5            G2      3005
 18259     993200331    G2         1              4            G2      3140
 18260     993200341    G2         1              6            G3      2600

In [20]:
data_list[0]

,MD제공용_가구고유번호,수도권여부,가구주_성별코드,가구주_교육정도_학력코드,가구주_연령10세단위코드,경상소득(조사),경상소득_근로소득(조사),경상소득_사업소득(조사),경상소득_재산소득(조사),경상소득_공적이전소득(조사),경상소득_사적이전소득(조사),ind_c
10,10200261,G2,1,4,G5,856,120,0,0,436,300,1
40,10203391,G1,1,6,G2,1240,0,1000,0,240,0,1
55,10500161,G1,1,6,G5,388,0,0,0,388,0,1
82,10600171,G1,1,6,G1,400,400,0,0,0,0,1
93,10600351,G1,1,4,G5,1108,0,0,0,988,120,1
...,...,...,...,...,...,...,...,...,...,...,...,...
18236,990505391,G2,1,4,G5,710,0,0,0,710,0,1
18249,991600301,G2,1,1,G5,240,0,0,0,240,0,1
18250,991600341,G2,1,2,G5,636,0,0,0,636,0,1
18264,993505311,G2,1,4,G3,1560,1560,0,0,0,0,1
18272,995200351,G2,1,3,G5,1530,1200,0,0,330,0,1

In [21]:
for i in range(0,8) :
    print(len(data_list[i]))

2138
3444
4029
4276
2410
1143
526
307

#### 저장후 불러오기 작업

In [22]:
rawresult_list = ["C:/Users/2jjsj/Test_result/result_" + str(i) + ".pkl" for i in range(0,12)]
for i in range(0,12):
    data_list[i].to_pickle(rawresult_list[i])

In [23]:
pd.read_pickle('C:/Users/2jjsj/Test_result/result_0.pkl')

,MD제공용_가구고유번호,수도권여부,가구주_성별코드,가구주_교육정도_학력코드,가구주_연령10세단위코드,경상소득(조사),경상소득_근로소득(조사),경상소득_사업소득(조사),경상소득_재산소득(조사),경상소득_공적이전소득(조사),경상소득_사적이전소득(조사),ind_c
10,10200261,G2,1,4,G5,856,120,0,0,436,300,1
40,10203391,G1,1,6,G2,1240,0,1000,0,240,0,1
55,10500161,G1,1,6,G5,388,0,0,0,388,0,1
82,10600171,G1,1,6,G1,400,400,0,0,0,0,1
93,10600351,G1,1,4,G5,1108,0,0,0,988,120,1
...,...,...,...,...,...,...,...,...,...,...,...,...
18236,990505391,G2,1,4,G5,710,0,0,0,710,0,1
18249,991600301,G2,1,1,G5,240,0,0,0,240,0,1
18250,991600341,G2,1,2,G5,636,0,0,0,636,0,1
18264,993505311,G2,1,4,G3,1560,1560,0,0,0,0,1
18272,995200351,G2,1,3,G5,1530,1200,0,0,330,0,1

#### CTGAN 갯수에 따라서 적합

In [24]:
import time

In [25]:
start = time.time()

new_sample = []

model1 = CTGAN(primary_key='MD제공용_가구고유번호' , epochs = 30 , batch_size = 400 , verbose = True)
model2 = CTGAN(primary_key='MD제공용_가구고유번호' , epochs = 40 , batch_size = 450 , verbose = True)
model3 = CTGAN(primary_key='MD제공용_가구고유번호' , epochs = 35 , batch_size = 500 , verbose = True)

for i in range(0,8):
    if len(data_list[i]) < 3000 : 
        model1.fit(data_list[i])
        new_sample.append(model1.sample(len(data_list[i])))          
        
    elif 3000 <= len(data_list[i]) < 5000 : 
        model2.fit(data_list[i])
        new_sample.append(model2.sample(len(data_list[i])))           
        
    else : 
        model3.fit(data_list[i])
        new_sample.append(model3.sample(len(data_list[i])))
        
end = time.time()
print(f"{end - start:.5f} sec")

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 1, Loss G:  0.8774,Loss D: -0.0508
Epoch 2, Loss G:  0.7316,Loss D: -0.1259
Epoch 3, Loss G:  0.6627,Loss D: -0.2057
Epoch 4, Loss G:  0.6060,Loss D: -0.3156
Epoch 5, Loss G:  0.2983,Loss D: -0.5224
Epoch 6, Loss G: -0.0953,Loss D: -0.1409
Epoch 7, Loss G: -0.2917,Loss D: -0.0693
Epoch 8, Loss G: -0.4836,Loss D:  0.0125
Epoch 9, Loss G: -0.4404,Loss D:  0.0556
Epoch 10, Loss G: -0.3057,Loss D:  0.0384
Epoch 11, Loss G: -0.1931,Loss D: -0.1226
Epoch 12, Loss G: -0.2500,Loss D:  0.0070
Epoch 13, Loss G: -0.2323,Loss D:  0.1480
Epoch 14, Loss G: -0.3665,Loss D:  0.0128
Epoch 15, Loss G: -0.0135,Loss D:  0.1477
Epoch 16, Loss G: -0.0658,Loss D:  0.0025
Epoch 17, Loss G: -0.2556,Loss D:  0.1638
Epoch 18, Loss G: -0.3340,Loss D:  0.3066
Epoch 19, Loss G: -0.5200,Loss D:  0.3804
Epoch 20, Loss G: -0.3501,Loss D:  0.2537
Epoch 21, Loss G: -0.3167,Loss D: -0.1322
Epoch 22, Loss G: -0.3228,Loss D: -0.0839
Epoch 23, Loss G: -0.6637,Loss D:  0.0978
Epoch 24, Loss G: -0.8341,Loss D:  0.0094
Epoch 25, Loss G: -0.7802,Loss D:  0.0288
Epoch 26, Loss G: -0.6703,Loss D: -0.1200
Epoch 27, Loss G: -0.6884,Loss D:  0.0592
Epoch 28, Loss G: -0.7378,Loss D:  0.1414
Epoch 29, Loss G: -0.7638,Loss D:  0.0275
Epoch 30, Loss G: -0.6945,Loss D:  0.0916

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 1, Loss G:  0.8925,Loss D: -0.1126
Epoch 2, Loss G:  0.8130,Loss D: -0.2417
Epoch 3, Loss G:  0.6062,Loss D: -0.4647
Epoch 4, Loss G:  0.1592,Loss D: -0.3528
Epoch 5, Loss G: -0.1265,Loss D: -0.0543
Epoch 6, Loss G: -0.4659,Loss D:  0.0832
Epoch 7, Loss G: -0.4040,Loss D:  0.0714
Epoch 8, Loss G: -0.3298,Loss D:  0.1114
Epoch 9, Loss G: -0.1952,Loss D: -0.1124
Epoch 10, Loss G: -0.1065,Loss D: -0.1014
Epoch 11, Loss G:  0.0063,Loss D:  0.0593
Epoch 12, Loss G: -0.1807,Loss D:  0.2267
Epoch 13, Loss G: -0.0911,Loss D:  0.0305
Epoch 14, Loss G: -0.2138,Loss D:  0.1707
Epoch 15, Loss G: -0.4144,Loss D:  0.2609
Epoch 16, Loss G: -0.2813,Loss D: -0.0892
Epoch 17, Loss G: -0.2602,Loss D: -0.1271
Epoch 18, Loss G: -0.3450,Loss D: -0.0003
Epoch 19, Loss G: -0.5186,Loss D:  0.0988
Epoch 20, Loss G: -0.3654,Loss D: -0.1485
Epoch 21, Loss G: -0.3374,Loss D: -0.0554
Epoch 22, Loss G: -0.5991,Loss D:  0.2191
Epoch 23, Loss G: -0.6730,Loss D:  0.2140
Epoch 24, Loss G: -0.3154,Loss D: -0.2034
Epoch 25, Loss G: -0.3065,Loss D: -0.1017
Epoch 26, Loss G: -0.8659,Loss D:  0.2333
Epoch 27, Loss G: -1.0194,Loss D:  0.2504
Epoch 28, Loss G: -0.8222,Loss D: -0.0179
Epoch 29, Loss G: -0.9092,Loss D: -0.1218
Epoch 30, Loss G: -1.1701,Loss D: -0.0675
Epoch 31, Loss G: -1.0303,Loss D: -0.2782
Epoch 32, Loss G: -1.0965,Loss D:  0.0632
Epoch 33, Loss G: -1.1489,Loss D:  0.1615
Epoch 34, Loss G: -1.2395,Loss D:  0.0371
Epoch 35, Loss G: -1.2207,Loss D:  0.0977
Epoch 36, Loss G: -0.9341,Loss D: -0.0149
Epoch 37, Loss G: -1.0170,Loss D:  0.0021
Epoch 38, Loss G: -0.9574,Loss D:  0.0167
Epoch 39, Loss G: -0.9012,Loss D:  0.0185
Epoch 40, Loss G: -1.0157,Loss D: -0.0015

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 1, Loss G:  0.6818,Loss D: -0.1644
Epoch 2, Loss G:  0.4419,Loss D: -0.3039
Epoch 3, Loss G:  0.0570,Loss D: -0.4459
Epoch 4, Loss G: -0.2930,Loss D: -0.1687
Epoch 5, Loss G: -0.5916,Loss D: -0.0481
Epoch 6, Loss G: -0.7638,Loss D:  0.1132
Epoch 7, Loss G: -0.6263,Loss D:  0.1638
Epoch 8, Loss G: -0.4552,Loss D:  0.0364
Epoch 9, Loss G: -0.3233,Loss D:  0.1094
Epoch 10, Loss G: -0.2304,Loss D:  0.1464
Epoch 11, Loss G: -0.1945,Loss D: -0.0303
Epoch 12, Loss G: -0.1598,Loss D:  0.1465
Epoch 13, Loss G: -0.2060,Loss D:  0.1204
Epoch 14, Loss G: -0.2091,Loss D:  0.0775
Epoch 15, Loss G: -0.2894,Loss D: -0.1314
Epoch 16, Loss G: -0.4457,Loss D: -0.0080
Epoch 17, Loss G: -0.8722,Loss D:  0.2246
Epoch 18, Loss G: -0.7749,Loss D:  0.0901
Epoch 19, Loss G: -0.5609,Loss D: -0.2531
Epoch 20, Loss G: -0.8188,Loss D: -0.0787
Epoch 21, Loss G: -0.9931,Loss D:  0.1203
Epoch 22, Loss G: -0.8635,Loss D:  0.0634
Epoch 23, Loss G: -0.6070,Loss D: -0.0425
Epoch 24, Loss G: -0.7861,Loss D:  0.0952
Epoch 25, Loss G: -0.8353,Loss D: -0.0406
Epoch 26, Loss G: -0.4658,Loss D: -0.2286
Epoch 27, Loss G: -0.8916,Loss D:  0.0888
Epoch 28, Loss G: -1.0271,Loss D:  0.0852
Epoch 29, Loss G: -0.6762,Loss D: -0.0751
Epoch 30, Loss G: -1.0931,Loss D:  0.0281
Epoch 31, Loss G: -1.1306,Loss D:  0.0439
Epoch 32, Loss G: -1.2485,Loss D:  0.0774
Epoch 33, Loss G: -1.5213,Loss D:  0.0290
Epoch 34, Loss G: -1.4042,Loss D: -0.2634
Epoch 35, Loss G: -1.6901,Loss D:  0.1792
Epoch 36, Loss G: -1.5513,Loss D:  0.0997
Epoch 37, Loss G: -1.6530,Loss D:  0.0786
Epoch 38, Loss G: -1.5643,Loss D: -0.0105
Epoch 39, Loss G: -1.2607,Loss D: -0.0877
Epoch 40, Loss G: -1.2933,Loss D:  0.0086

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 1, Loss G:  0.9081,Loss D: -0.1635
Epoch 2, Loss G:  0.8235,Loss D: -0.4134
Epoch 3, Loss G:  0.4824,Loss D: -0.4008
Epoch 4, Loss G: -0.0171,Loss D:  0.0087
Epoch 5, Loss G: -0.0607,Loss D:  0.0691
Epoch 6, Loss G: -0.0394,Loss D:  0.1240
Epoch 7, Loss G:  0.4285,Loss D: -0.2189
Epoch 8, Loss G:  0.4303,Loss D: -0.0608
Epoch 9, Loss G:  0.3447,Loss D:  0.1649
Epoch 10, Loss G:  0.6865,Loss D:  0.0345
Epoch 11, Loss G:  0.2300,Loss D:  0.2594
Epoch 12, Loss G:  0.1339,Loss D:  0.1540
Epoch 13, Loss G:  0.0944,Loss D: -0.1104
Epoch 14, Loss G: -0.1910,Loss D: -0.0366
Epoch 15, Loss G:  0.0384,Loss D: -0.0741
Epoch 16, Loss G: -0.1825,Loss D: -0.0192
Epoch 17, Loss G: -0.4518,Loss D:  0.3791
Epoch 18, Loss G: -0.3400,Loss D: -0.0376
Epoch 19, Loss G: -0.2564,Loss D:  0.0480
Epoch 20, Loss G: -0.0491,Loss D: -0.0920
Epoch 21, Loss G: -0.1199,Loss D:  0.1688
Epoch 22, Loss G: -0.1535,Loss D:  0.1338
Epoch 23, Loss G: -0.1072,Loss D:  0.0094
Epoch 24, Loss G: -0.1453,Loss D:  0.0159
Epoch 25, Loss G: -0.1381,Loss D: -0.1526
Epoch 26, Loss G: -0.3819,Loss D:  0.0400
Epoch 27, Loss G: -0.6088,Loss D:  0.1147
Epoch 28, Loss G: -0.8646,Loss D:  0.1029
Epoch 29, Loss G: -0.5989,Loss D:  0.0213
Epoch 30, Loss G: -0.5806,Loss D: -0.0443
Epoch 31, Loss G: -0.7173,Loss D:  0.0875
Epoch 32, Loss G: -0.3870,Loss D: -0.1634
Epoch 33, Loss G: -0.5466,Loss D:  0.2090
Epoch 34, Loss G: -0.7221,Loss D:  0.0787
Epoch 35, Loss G: -0.5513,Loss D: -0.1043
Epoch 36, Loss G: -0.5724,Loss D: -0.0274
Epoch 37, Loss G: -0.8309,Loss D:  0.1400
Epoch 38, Loss G: -0.6682,Loss D:  0.0905
Epoch 39, Loss G: -0.6134,Loss D:  0.0886
Epoch 40, Loss G: -0.8978,Loss D:  0.2440

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 1, Loss G:  0.7507,Loss D: -0.0896
Epoch 2, Loss G:  0.6018,Loss D: -0.1552
Epoch 3, Loss G:  0.4198,Loss D: -0.3393
Epoch 4, Loss G:  0.1170,Loss D: -0.5043
Epoch 5, Loss G: -0.2817,Loss D: -0.4329
Epoch 6, Loss G: -0.5736,Loss D: -0.2139
Epoch 7, Loss G: -0.8000,Loss D:  0.1549
Epoch 8, Loss G: -0.7534,Loss D:  0.2351
Epoch 9, Loss G: -0.6415,Loss D:  0.2148
Epoch 10, Loss G: -0.7881,Loss D:  0.2120
Epoch 11, Loss G: -0.7885,Loss D:  0.5206
Epoch 12, Loss G: -0.7690,Loss D:  0.3127
Epoch 13, Loss G: -0.5862,Loss D:  0.1669
Epoch 14, Loss G: -0.4983,Loss D:  0.0065
Epoch 15, Loss G: -0.4353,Loss D: -0.1243
Epoch 16, Loss G: -0.4208,Loss D: -0.0530
Epoch 17, Loss G: -0.3556,Loss D:  0.0335
Epoch 18, Loss G: -0.2726,Loss D: -0.1138
Epoch 19, Loss G: -0.3253,Loss D:  0.0626
Epoch 20, Loss G: -0.5154,Loss D:  0.2107
Epoch 21, Loss G: -0.5414,Loss D:  0.1082
Epoch 22, Loss G: -0.3772,Loss D: -0.0979
Epoch 23, Loss G: -0.2366,Loss D: -0.1045
Epoch 24, Loss G: -0.2345,Loss D: -0.0615
Epoch 25, Loss G: -0.3593,Loss D:  0.0598
Epoch 26, Loss G: -0.3426,Loss D: -0.0428
Epoch 27, Loss G: -0.3266,Loss D:  0.1449
Epoch 28, Loss G: -0.5931,Loss D:  0.2551
Epoch 29, Loss G: -0.8240,Loss D:  0.4387
Epoch 30, Loss G: -0.8059,Loss D:  0.3226

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 1, Loss G:  0.7680,Loss D: -0.0239

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 2, Loss G:  0.7763,Loss D: -0.0606
Epoch 3, Loss G:  0.6952,Loss D: -0.0478
Epoch 4, Loss G:  0.6767,Loss D: -0.1509
Epoch 5, Loss G:  0.6641,Loss D: -0.1527
Epoch 6, Loss G:  0.6674,Loss D: -0.1895
Epoch 7, Loss G:  0.6256,Loss D: -0.2578
Epoch 8, Loss G:  0.4453,Loss D: -0.3643
Epoch 9, Loss G:  0.3888,Loss D: -0.3118
Epoch 10, Loss G:  0.2972,Loss D: -0.3144
Epoch 11, Loss G:  0.1403,Loss D: -0.2019
Epoch 12, Loss G:  0.0747,Loss D: -0.2536
Epoch 13, Loss G: -0.1149,Loss D: -0.1809
Epoch 14, Loss G: -0.2126,Loss D: -0.2586
Epoch 15, Loss G: -0.2984,Loss D: -0.0696
Epoch 16, Loss G: -0.3308,Loss D: -0.0691
Epoch 17, Loss G: -0.5603,Loss D:  0.0713
Epoch 18, Loss G: -0.6353,Loss D:  0.0493
Epoch 19, Loss G: -0.6382,Loss D:  0.1193
Epoch 20, Loss G: -0.6117,Loss D:  0.0366
Epoch 21, Loss G: -0.5661,Loss D:  0.1554
Epoch 22, Loss G: -0.6628,Loss D:  0.1697
Epoch 23, Loss G: -0.6592,Loss D:  0.1833
Epoch 24, Loss G: -0.5552,Loss D:  0.1630
Epoch 25, Loss G: -0.5394,Loss D: -0.0916
Epoch 26, Loss G: -0.3605,Loss D:  0.0663
Epoch 27, Loss G: -0.2682,Loss D: -0.0165
Epoch 28, Loss G: -0.1945,Loss D: -0.0021
Epoch 29, Loss G: -0.2227,Loss D: -0.0007
Epoch 30, Loss G: -0.4041,Loss D:  0.0466

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 1, Loss G:  0.8045,Loss D: -0.0056
Epoch 2, Loss G:  0.7654,Loss D:  0.0035
Epoch 3, Loss G:  0.8478,Loss D: -0.0115
Epoch 4, Loss G:  0.8276,Loss D:  0.0065
Epoch 5, Loss G:  0.8327,Loss D: -0.0657
Epoch 6, Loss G:  0.7881,Loss D: -0.0097
Epoch 7, Loss G:  0.8958,Loss D: -0.0572
Epoch 8, Loss G:  0.8070,Loss D: -0.0683
Epoch 9, Loss G:  0.7684,Loss D: -0.0599
Epoch 10, Loss G:  0.7086,Loss D: -0.1135
Epoch 11, Loss G:  0.7775,Loss D: -0.1092
Epoch 12, Loss G:  0.7976,Loss D: -0.1127
Epoch 13, Loss G:  0.6993,Loss D: -0.1487
Epoch 14, Loss G:  0.7299,Loss D: -0.0688
Epoch 15, Loss G:  0.5763,Loss D: -0.0935
Epoch 16, Loss G:  0.6718,Loss D: -0.1876
Epoch 17, Loss G:  0.6282,Loss D: -0.1414
Epoch 18, Loss G:  0.5976,Loss D: -0.1685
Epoch 19, Loss G:  0.5468,Loss D: -0.0942
Epoch 20, Loss G:  0.5753,Loss D: -0.1710
Epoch 21, Loss G:  0.5307,Loss D: -0.1416
Epoch 22, Loss G:  0.4155,Loss D: -0.1353
Epoch 23, Loss G:  0.4193,Loss D: -0.0793
Epoch 24, Loss G:  0.3212,Loss D: -0.1069
Epoch 25, Loss G:  0.2455,Loss D: -0.0665
Epoch 26, Loss G:  0.3164,Loss D: -0.0825
Epoch 27, Loss G:  0.2129,Loss D: -0.1269
Epoch 28, Loss G:  0.2480,Loss D: -0.1042
Epoch 29, Loss G:  0.2075,Loss D: -0.1146
Epoch 30, Loss G:  0.1904,Loss D: -0.2196

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (1) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:116: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sklearn\mixture\_base.py:274: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(

Epoch 1, Loss G:  0.9341,Loss D: -0.0133
Epoch 2, Loss G:  0.8833,Loss D: -0.0029

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

Epoch 3, Loss G:  0.9132,Loss D: -0.0046
Epoch 4, Loss G:  0.8863,Loss D: -0.0333
Epoch 5, Loss G:  0.8170,Loss D: -0.0423
Epoch 6, Loss G:  0.8271,Loss D: -0.0587
Epoch 7, Loss G:  0.8728,Loss D: -0.0694
Epoch 8, Loss G:  0.8513,Loss D: -0.0703
Epoch 9, Loss G:  0.8920,Loss D: -0.0622
Epoch 10, Loss G:  0.8124,Loss D: -0.0542
Epoch 11, Loss G:  0.9058,Loss D: -0.1020
Epoch 12, Loss G:  0.7545,Loss D: -0.0959
Epoch 13, Loss G:  0.7859,Loss D: -0.1400
Epoch 14, Loss G:  0.7984,Loss D: -0.1296
Epoch 15, Loss G:  0.7598,Loss D: -0.0431
Epoch 16, Loss G:  0.7813,Loss D: -0.0990
Epoch 17, Loss G:  0.6541,Loss D: -0.1432
Epoch 18, Loss G:  0.6605,Loss D: -0.2084
Epoch 19, Loss G:  0.5833,Loss D: -0.1749
Epoch 20, Loss G:  0.6619,Loss D: -0.1651
Epoch 21, Loss G:  0.5991,Loss D: -0.1955
Epoch 22, Loss G:  0.5803,Loss D: -0.1223
Epoch 23, Loss G:  0.5251,Loss D: -0.2327
Epoch 24, Loss G:  0.4088,Loss D: -0.1926
Epoch 25, Loss G:  0.4447,Loss D: -0.0646
Epoch 26, Loss G:  0.2840,Loss D: -0.1367
Epoch 27, Loss G:  0.3424,Loss D: -0.0838
Epoch 28, Loss G:  0.1243,Loss D: -0.0220
Epoch 29, Loss G:  0.0464,Loss D: -0.2779
Epoch 30, Loss G:  0.1797,Loss D: -0.0901
77.00651 sec

C:\Users\2jjsj\anaconda3\envs\testctgan\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)

In [26]:
new_sample[7]

,MD제공용_가구고유번호,수도권여부,가구주_성별코드,가구주_교육정도_학력코드,가구주_연령10세단위코드,경상소득(조사),경상소득_근로소득(조사),경상소득_사업소득(조사),경상소득_재산소득(조사),경상소득_공적이전소득(조사),경상소득_사적이전소득(조사),ind_c
0,0,G1,2,1,G3,9962,8220,12070,0,110,2750,4
1,1,G1,2,4,G4,14964,8721,310,36,238,10,4
2,2,G2,2,1,G4,10511,6330,280,142,974,10,4
3,3,G2,2,4,G5,16668,11937,10270,0,524,80,4
4,4,G1,2,4,G2,16160,4206,6060,0,2,90,4
...,...,...,...,...,...,...,...,...,...,...,...,...
302,302,G2,2,4,G3,10864,11525,280,0,206,0,4
303,303,G2,2,4,G5,15496,7384,7020,0,0,330,4
304,304,G2,2,6,G3,34000,17245,890,0,0,10,4
305,305,G2,2,3,G3,8902,7834,20680,0,0,0,4
306,306,G1,2,1,G3,10347,2398,100,0,186,0,4

In [ ]:
start = time.time()

new_sample = []

model1 = CTGAN(primary_key='MD제공용_가구고유번호' , epochs = 30 , batch_size = 400 , verbose = True)
model2 = CTGAN(primary_key='MD제공용_가구고유번호' , epochs = 40 , batch_size = 450 , verbose = True)
model3 = CTGAN(primary_key='MD제공용_가구고유번호' , epochs = 35 , batch_size = 500 , verbose = True)

for i in range(0,8):
    if len(data_list[i]) < 3000 : 
        model1.fit(data_list[i])
        new_sample.append(model1.sample(len(data_list[i])))          
        
    elif 3000 <= len(data_list[i]) < 5000 : 
        model2.fit(data_list[i])
        new_sample.append(model2.sample(len(data_list[i])))           
        
    else : 
        model3.fit(data_list[i])
        new_sample.append(model3.sample(len(data_list[i])))
        
end = time.time()
print(f"{end - start:.5f} sec")